*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
*.L68
*.S68
.DS_Store

/*
/*/
!/3rdparty/
!/android-project/
!/benchmarks/
!/artwork/
!/bgfx/
!/docs/
!/hash/
!/hlsl/
!/keymaps/
!/language/
!/nl_examples/
!/plugins/
!/projects/
!/regtests/
!/samples/
!/scripts/
!/src/
!/shaders/
!/tests/
!/doxygen/
!/web/
!/.drone.yml
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen
!/*.md
!/*.bdf
!/LICENSE
/.idea
docs/build
docs/source/_build
regtests/chdman/temp
regtests/jedutil/output
/CMakeLists.txt
/samples
/src/mamidimemo/obj/Debug
/src/wrapper/Debug
/src/mamidimemo/obj/Release
/src/wrapper/Release
/src/wrapper/wrapper.vcxproj.user
/src/wrapper/wrapper.vcxproj.filters
Release(but Debug .NET)
Release(but Debug .NET)
/src/mamidimemo/mamidimemo.csproj.user
/src/mamidimemo/obj/x64/Debug
/src/mamidimemo/obj/x64/Release
/src/wrapper/Win32/Debug
/src/mamidimemo/obj/x86/Release
/src/wrapper/x64/Release
/src/wrapper/x64/Debug
/src/wrapper/Win32/Release
/src/mamidimemo/obj/x86/Debug
/src/mt32emu/x64/Debug
/src/mt32emu/x64/Debug
/src/mt32emu/x64/Release
/src/mt32emu/Debug
/src/mt32emu/Release
/src/mt32emu/soxr/msvc/*.user
/src/mt32emu/soxr/msvc/*.filters
/src/mt32emu/.vs
/src/mt32emu/*.user
/src/mt32emu/*.filters
/src/mt32emu/soxr/.gitignore
/src/vst/Win32/Debug
/src/vst/*.user
/src/vst/Win32/Release
/src/vst/x64/Release
/src/vst/.vs
/src/mamidimemo/SoundFont2/SoundFont2/SoundFont2.csproj
/src/mamidimemo/SoundFont2/.gitattributes
/src/mamidimemo/SoundFont2/.gitignore
/src/mamidimemo/SoundFont2/SoundFont2.sln
/src/scci/Debug
/src/scci/Release
/src/scci/x64/Release
/src/scci/scci.vcxproj.user
/src/scci/scci.vcxproj.filters
/src/LegacyWrapper/LegacyWrapper.Common/bin
/src/LegacyWrapper/LegacyWrapper.Common/obj
/src/LegacyWrapper/LegacyWrapper32/obj
/src/LegacyWrapper/LegacyWrapper32/bin
/src/LegacyWrapper/LegacyWrapperClient/obj
/src/LegacyWrapper/LegacyWrapperClient/bin
/src/ScciInterface/obj
/src/ScciInterface/bin
