*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
*.L68
*.S68
.DS_Store

/*
/*/
!/3rdparty/
!/android-project/
!/benchmarks/
!/artwork/
!/bgfx/
!/docs/
!/hash/
!/hlsl/
!/keymaps/
!/language/
!/nl_examples/
!/plugins/
!/projects/
!/regtests/
!/samples/
!/scripts/
!/src/
!/shaders/
!/tests/
!/doxygen/
!/web/
!/.drone.yml
!/.gitattributes
!/.gitignore
!/.travis.yml
!/makefile
!/mame.doxygen
!/*.md
!/*.bdf
!/LICENSE
/.idea
docs/build
docs/source/_build
regtests/chdman/temp
regtests/jedutil/output
/CMakeLists.txt
/samples
/src/mamidimemo/obj/Debug
/src/wrapper/Debug
/src/mamidimemo/obj/Release
/src/wrapper/Release
/src/wrapper/wrapper.vcxproj.user
/src/wrapper/wrapper.vcxproj.filters
Release(but Debug .NET)
Release(but Debug .NET)
/src/mamidimemo/mamidimemo.csproj.user
/src/mamidimemo/obj/x64/Debug
/src/mamidimemo/obj/x64/Release
/src/wrapper/Win32/Debug
/src/mamidimemo/obj/x86/Release
/src/wrapper/x64/Release
/src/wrapper/x64/Debug
/src/wrapper/Win32/Release
/src/mamidimemo/obj/x86/Debug
/src/mt32emu/x64/Debug
/src/mt32emu/x64/Debug
/src/mt32emu/x64/Release
/src/mt32emu/Debug
/src/mt32emu/Release
/src/mt32emu/soxr/msvc/*.user
/src/mt32emu/soxr/msvc/*.filters
/src/mt32emu/.vs
/src/mt32emu/*.user
/src/mt32emu/*.filters
/src/mt32emu/soxr/.gitignore
/src/vst/Win32/Debug
/src/vst/*.user
/src/vst/Win32/Release
/src/vst/x64/Release
/src/vst/.vs
/src/mamidimemo/SoundFont2/SoundFont2/SoundFont2.csproj
/src/mamidimemo/SoundFont2/.gitattributes
/src/mamidimemo/SoundFont2/.gitignore
/src/mamidimemo/SoundFont2/SoundFont2.sln
/src/scci/Debug
/src/scci/Release
/src/scci/x64/Release
/src/scci/scci.vcxproj.user
/src/scci/scci.vcxproj.filters
/src/LegacyWrapper/LegacyWrapper.Common/bin
/src/LegacyWrapper/LegacyWrapper.Common/obj
/src/LegacyWrapper/LegacyWrapper32/obj
/src/LegacyWrapper/LegacyWrapper32/bin
/src/LegacyWrapper/LegacyWrapperClient/obj
/src/LegacyWrapper/LegacyWrapperClient/bin
/src/ScciInterface/obj
/src/ScciInterface/bin
/src/SAM/x64
/src/SAM/Release
/src/SAM/Debug
/src/SAM/SAM.vcxproj.user
/src/vst/x64/Debug
/src/rpclib/.vs
/src/VSIF/VGMPlayer/bin/Debug
/src/VSIF/VGMPlayer/obj/x86/Release
/src/VSIF/VGMPlayer/obj/x86/Debug
/src/VSIF/VGMPlayer/bin/Release/VGMPlayer.pdb
/src/VSIF/VGMPlayer/VGMPlayer.suo
/src/VSIF/VGMPlayer/VGMPlayer.csproj.user
/src/VSIF/VGMPlayer/.vs/VGMPlayer/v16
/src/VSIF/VGMPlay_Genesis/.hg/cache
/src/VSIF/VGMPlayer/packages
/src/VSIF/VGMPlayer/bin
/src/VSIF/VGMPlayer/obj
/src/VSIF/VGMPlay_NES/VGMPlay.o
/src/VSIF/VGMPlay_NES/VGMPlay_nes.nes.map
/src/VSIF/VGMPlay_NES/VGMPlay_nes_vrc6.nes.map
/src/VSIF/VGMPlay_NES/header_vrc6.o
/src/VSIF/VGMPlay_NES/main.o
/src/VSIF/VGMPlay_NES/main.s
/src/VSIF/VGMPlay_NES/startup.o
/src/VSIF/VGMPlay_Genesis/.hg/cur-message.txt
/src/VSIF/VGMPlay_NES/VGMPlay_nes.nes
/src/VSIF/VGMPlay_NES/VGMPlay_nes_vrc6.nes
/src/VSIF/VGMPlay_NES/fdsbios.bin
/src/VSIF/VGMPlay_NES/boot_fds.o
/src/VSIF/VGMPlay_NES/boot_mmc5.o
/src/VSIF/VGMPlay_NES/boot_vrc6.o
/src/VSIF/VGMPlay_NES/header_fds.o
/src/VSIF/VGMPlay_NES/main_direct.o
/src/VSIF/VGMPlay_NES/VGMPlay_nes_fds.fds.map
/src/VSIF/VGMPlay_NES/VGMPlay_nes_mmc5.nes.map
/src/VSIF/VGMPlay_NES/VGMPlay_nes_mmc5.nes
/src/scci/x64/Debug
/src/VSIF/VGMPlay_MSX/VGMPlay_msx.hex
/src/VSIF/VGMPlay_MSX/VGMPlay_msx.lk
/src/VSIF/VGMPlay_MSX/VGMPlay_msx.map
/src/VSIF/VGMPlay_MSX/VGMPlay_msx.noi
/src/VSIF/VGMPlay_MSX/depend.inc
/src/VSIF/VGMPlay_MSX/main.adb
/src/VSIF/VGMPlay_MSX/main.asm
/src/VSIF/VGMPlay_MSX/main.lst
/src/VSIF/VGMPlay_MSX/main.rel
/src/VSIF/VGMPlay_MSX/main.sym
/src/VSIF/VGMPlay_MSX/player_code.adb
/src/VSIF/VGMPlay_MSX/player_code.asm
/src/VSIF/VGMPlay_MSX/player_code.lst
/src/VSIF/VGMPlay_MSX/player_code.rel
/src/VSIF/VGMPlay_MSX/player_code.sym
/src/VSIF/VGMPlay_MSX/uart-4800.rel
/src/mamidimemo/obj
/src/split700/Release
/src/split700/Debug
/src/split700/split700.vcxproj.filters
/src/split700/split700.vcxproj.user
/src/split700/x64
/src/VSIF/VGMPlayer/.vs/VGMPlayer/v17
/src/VSIF/VGMPlayer/.vs/VGMPlayer
/src/CMI8738OPL3/.vs/CMI8738OPL3/v16
/src/CMI8738OPL3/CMI8738OPL3Library/x64
/src/CMI8738OPL3/CMI8738OPL3/x64
/src/CMI8738OPL3/CMI8738OPL3/Debug
/src/CMI8738OPL3/CMI8738OPL3/CMI8738OPL3.vcxproj.filters
/src/CMI8738OPL3/CMI8738OPL3/CMI8738OPL3.vcxproj.user
/src/CMI8738OPL3/CMI8738OPL3Library/CMI8738OPL3Library.vcxproj.user
/src/CMI8738OPL3/CMI8738OPL3Library/CMI8738OPL3Library.vcxproj.filters
/src/CMI8738OPL3/YMF724OPL3/x64
obj
bin
/src/VSIF/VGMPlay_Genesis/out
/src/VSIF/VGMPlay_88/.vscode
/src/VSIF/VGMPlay_88/VGM_88_S_XC00.bin
/src/VSIF/VGMPlay_88/VGM_88_S_XB00.bin
/src/VSIF/VGMPlay_88/VGM_88_S_XA00.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X900.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X800.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X700.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X600.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X500.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X400.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X300.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X200.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X100.bin
/src/VSIF/VGMPlay_88/VGM_88_S_X000.bin
/src/VSIF/VGMPlay_88/VGM_88_d88.hfe
/src/VSIF/VGMPlay_88/copy.bat
/src/VSIF/VGMPlay_88/.source.txt
/src/VSIF/VGMPlay_NES_FDS/.vscode
/src/VSIF/VGMPlay_PCE/cc65
/src/VSIF/VGMPlay_PCE/build
/src/VSIF/VGMPlay_SegaCD/out
/src/Praat2Lpc/.vs
/src/VSIF/VGMPlay_MSX_pi/.vscode
/src/VSIF/VGMPlay_MSX_pi - tR
