<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="zanac.MAmidiMEmo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup>
  </startup>
  <userSettings>
        <zanac.MAmidiMEmo.Properties.Settings>
              <setting name="MidiIF" serializeAs="String">
                    <value />
              </setting>
              <setting name="EnvironmentSettings" serializeAs="String">
                    <value />
              </setting>
              <setting name="SoundType" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="SampleRate" serializeAs="String">
                    <value>48000</value>
              </setting>
              <setting name="AudioLatency" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="PaApi" serializeAs="String">
                    <value>"Windows WASAPI"</value>
              </setting>
              <setting name="PaDevice" serializeAs="String">
                    <value>default</value>
              </setting>
              <setting name="PaLatency" serializeAs="String">
                    <value>0.003334</value>
              </setting>
              <setting name="OutputDir" serializeAs="String">
                    <value />
              </setting>
              <setting name="MWinProgNo" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="MWinKeyCh" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="FmPlayOnEdit" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="FmVelocity" serializeAs="String">
                    <value>127</value>
              </setting>
              <setting name="FmGateTime" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="FmNote" serializeAs="String">
                    <value>60</value>
              </setting>
              <setting name="MWinSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="MWinSp1Pos" serializeAs="String">
                    <value>320</value>
              </setting>
              <setting name="MWinSp2Pos" serializeAs="String">
                    <value>420</value>
              </setting>
              <setting name="MWinTab" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="YM2151EdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="YM2610BEdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="YM2612EdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="YM3812EdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="YM2413EdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="YMF262EdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="PWinSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="MWinCC" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="FmCC" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="AutoReload" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="MasterVolume" serializeAs="String">
                    <value>100</value>
              </setting>
              <setting name="FmTarget" serializeAs="String">
                    <value>!ALG</value>
              </setting>
              <setting name="MidiIF_B" serializeAs="String">
                    <value />
              </setting>
              <setting name="MWinPort" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="YM2608EdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="GitHubUserName" serializeAs="String">
                    <value />
              </setting>
              <setting name="GitHubPersonalAccessToken" serializeAs="String">
                    <value />
              </setting>
              <setting name="FmHook" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="WsgEdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="WsgFirWeight" serializeAs="String">
                    <value> 1, 1, 1, 1, 1 </value>
              </setting>
              <setting name="LpcEdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="AllophonesEdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="PhonemesEdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
              <setting name="EnvFirWeight" serializeAs="String">
                    <value> 1, 1, 1, 1, 1 </value>
              </setting>
              <setting name="EnvEdSize" serializeAs="String">
                    <value>800, 600</value>
              </setting>
        </zanac.MAmidiMEmo.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>