<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.24" targetFramework="net47" />
  <package id="FTD2XX.Net" version="1.2.0" targetFramework="net47" />
  <package id="Melanchall.DryWetMidi" version="5.2.1" targetFramework="net47" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="ValueInjecter" version="3.2.0" targetFramework="net47" />
</packages>