<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="zanac.VGMPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="VGMPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <zanac.VGMPlayer.Properties.Settings>
            <setting name="DCSG_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCSG_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPLL_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPNA2_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OPLL_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPNA2_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPLL_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPNA2_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DCSG_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BitBangWait" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FocusedItem" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="VGMWait" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDir" serializeAs="String">
                <value />
            </setting>
        </zanac.VGMPlayer.Properties.Settings>
        <VGMPlayer.Properties.Settings>
            <setting name="DCSG_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCSG_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="OPLL_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="OPNA_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
        </VGMPlayer.Properties.Settings>
    </userSettings>
</configuration>
