<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="zanac.VGMPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="VGMPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup><userSettings>
        <zanac.VGMPlayer.Properties.Settings>
            <setting name="DCSG_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCSG_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPLL_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPN2_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OPLL_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPN2_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPLL_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPN2_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DCSG_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BitBangWaitDCSG" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FocusedItem" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="VGMWait" serializeAs="String">
                <value>66000</value>
            </setting>
            <setting name="LastDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SCC_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SCC_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BitBangWaitOPN2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BitBangWaitOPLL" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BitBangWaitSCC" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BitBangWaitAY8910" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Y8910_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y8910_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCC_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y8910_Port" serializeAs="String">
                <value>34</value>
            </setting>
            <setting name="SCC_Slot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KSS_Max" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SCC_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPM_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BitBangWaitOPM" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="OPM_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPM_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPM_Slot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPLL_Slot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPL3_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPL3_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPL3_Slot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPL3_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BitBangWaitOPL3" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="OPNA_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPNA_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPNA_Slot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPNA_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BitBangWaitOPNA" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Y8950_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y8950_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Y8950_Slot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y8950_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BitBangWaitY8950" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Y8950_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoopCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LoopTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoopTimes" serializeAs="String">
                <value>01/01/1753 00:05:00</value>
            </setting>
            <setting name="ConvertClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPN_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPN_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPN_Slot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPN_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BitBangWaitOPN" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="OPN2Div" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCSGDiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPLLDiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SCCDiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PSGDiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPMDiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPL3Div" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPNADiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y8950Div" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OPNDiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaneHeight" serializeAs="String">
                <value>899, 200</value>
            </setting>
            <setting name="DisableDAC" serializeAs="String">
                <value>False</value>
            </setting>
        </zanac.VGMPlayer.Properties.Settings>
        <VGMPlayer.Properties.Settings>
            <setting name="DCSG_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCSG_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="OPLL_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="OPNA_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
        </VGMPlayer.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
