<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="zanac.VGMPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="VGMPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <zanac.VGMPlayer.Properties.Settings>
            <setting name="DCSG_IF" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="DCSG_Port" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="OPLL_Port" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="OPNA2_Port" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Loop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OPLL_IF" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="OPNA2_IF" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="OPLL_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPNA2_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DCSG_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BitBangWaitDCSG" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FocusedItem" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="VGMWait" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SCC_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SCC_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BitBangWaitOPNA2" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BitBangWaitOPLL" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="BitBangWaitSCC" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="BitBangWaitAY8910" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="Y8910_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y8910_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SCC_Port" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Y8910_Port" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="SCC_Slot" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KSS_Max" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SCC_Type" serializeAs="String">
                <value>0</value>
            </setting>
        </zanac.VGMPlayer.Properties.Settings>
        <VGMPlayer.Properties.Settings>
            <setting name="DCSG_IF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DCSG_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="OPLL_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="OPNA_Port" serializeAs="String">
                <value>COM4</value>
            </setting>
        </VGMPlayer.Properties.Settings>
    </userSettings>
</configuration>
